#gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
